body {
    background-image: url('background.png');
    font-family: Georgia, serif;
    font-size: 15px;
    color: black;
    }    
div {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.scroll {
    background-image: url('divbackground.gif');
    background-position: center;
    background-repeat: repeat-y;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
} 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.scrolltop {
    background-image: url('backdrop_765_top.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 27px;
    position: absolute;
    width: 99%;
    top: 130px;
    right: 3px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: firebrick;
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 30px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: firebrick;
    text-align: center;
    text-shadow: 1px 1px grey;
    font-size: 20px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 18px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
.hometext {
    color: darkslategray;
    text-align: center;
    font-size; 15px;
}
.littlebutton {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    text-shadow: 2px 2px 0 black;
    background: url(stone-button.png);
    color: yellow;
    font-size: 15px;
    height: 74px;
    width: 102px;
    left: 40%;
}
.littlebutton:hover {
    filter: brightness(80%);
}
.questpic {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
}